@model MainViewModel



<div class="sr-area-div swiper mySwiper">

    <div class="sr-content swiper-wrapper">

        @foreach (var item in Model.QizilimUser)
        {
            <div class="swiper-slide">
                <div class="brands-carousel-img">
                    <a asp-controller="store" asp-action="storesingle" asp-route-id="@item.Id" style="text-decoration: none;">
                        <img class="sr-img-brand" src="~/photouploads/Shopimages/@item.ProfileImg" alt="">
                        <span class="brands-store-name">@item.shopName</span>
                    </a>
                </div>
            </div>
        }




    </div>

    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
</div>
<div class="vip-products-text-area">
    <div class="vip-child-div">
        <div class="vip-text">Premium elanlar</div>
        <div class="all-vip-btn"><a asp-controller="homepage" asp-action="vipproduct"><button class="btn-shw-all-vip">Butun Premium Elanlar</button></a></div>
    </div>

</div>



<div class="praducts">
    @foreach (var item in Model.Products.OrderByDescending(p => p.IreliCekilmisProduct == true))
    {
@if (item.PremiumProduct)
{
<a asp-controller="Store" asp-action="ProductSingle" asp-route-id="@item.Id" style="text-decoration: none;">
    <div class="container">

        <div class="image">
            <img src="~/photouploads/ProductImages/@item.ProductImages.FirstOrDefault().Image.Path" alt="">
        </div>
        <div class="info">

            <div class="price-vip">
                <span>@item.Price AZN</span>
                <i class="fa-solid fa-gem" style="color: #C1957C;"></i>
            </div>

            <div class="prob-weight-div">

                <div class="prob">
                    @item.ProductEyar.FirstOrDefault().Eyar.EyarOlcusu

                </div>
                <div class="weight">@item.Weight gr</div><span class="sep-w-c">/</span>
                @if (item.HasDiamond)
                {
                    <div class="carat">@item.CountDiamond ct</div>
                }

                    </div>
                        <div class="title-of-product">@item.aboutProduct.HtmlToPlainText().ToEllipse(20)</div>

                        <div class="time">Bakı, @item.CreatedDate.ToString("MMM d, yyyy")</div>
                    </div>
                </div>
            </a>
    }

}





</div>




<div class="banner">
    <div id="banner" class="banner-shop-page owl-carousel owl-theme">
        @foreach (var item in Model.Advertisement)
        {
            <div class="banner-div">
                <img class="banner-area" src="~/photouploads/images/@item.Image" alt="">
            </div>
        }


    </div>
</div>

<div class="vip-products-text-area">
    <div class="vip-child-div">
        <div class="vip-text">Son elanlar</div>
    </div>
</div>


<div class="praducts last-announ-container">
    @foreach (var item in Model.Products.OrderByDescending(p => p.IreliCekilmisProduct == true))
    {
        if (item.PremiumProduct)
        {
            continue;
        }
        else
        {
<a asp-controller="Store" asp-action="ProductSingle" asp-route-id="@item.Id" style="text-decoration: none;">
    <div class="container">

        <div class="image">

            <img src="~/photouploads/ProductImages/@item.ProductImages.FirstOrDefault().Image.Path" alt="">

        </div>
        <div class="info">

            <div class="price-vip"><span>@item.Price AZN</span></div>

            <div class="prob-weight-div">

                <div class="prob">
                    @item.ProductEyar.FirstOrDefault().Eyar.EyarOlcusu

                </div>
                <div class="weight">@item.Weight gr</div><span class="sep-w-c">/</span>
                @if (item.HasDiamond)
                {
<div class="carat">@item.CountDiamond ct</div>}

            </div>
            <div class="title-of-product">@item.aboutProduct.HtmlToPlainText().ToEllipse(20)</div>

            <div class="time">Bakı, @item.CreatedDate.ToString("MMM d, yyyy")</div>
        </div>
    </div>
</a>}



            }

</div>

