@model IEnumerable<Color>
@{
    ViewData["Title"] = "Index";
}

<h1>Rənglər</h1>
<p>
    <a asp-action="Create" style="color: white;">
        Yenisini Yarat
    </a>
</p>

@section css {
    <style>
        .image {
            width: 200px;
            height: auto;
        }
    </style>
}

<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Rəng</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr data-entity-id="@item.Id">
                            <td>@item.Name</td>
                            <td class="atributlar">
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a onclick="removeEntity(event, @item.Id, '@item.Name')" class="btn">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>